@import "https://fonts.googleapis.com/css?family=Poppins";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HouseMDFont";
    src: url("/house-font.ttf");
    font-weight: normal;
    font-style: normal;
}