name = "house-search"
main = "./.cloudflare/worker.js"
site.bucket = "./.cloudflare/public"
build.command = "npm run build"
compatibility_date = "2023-10-30"
workers_dev = false
logpush = false
routes = []

[[vectorize]]
binding = "VECTORIZE_INDEX" # available within your Worker on env.VECTORIZE_INDEX
index_name = "transcripts-index"

[ai]
binding = "AI"

[limits]
cpu_ms = 100